@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Home" asp-action="LoginUser">stuff here</a>.</p>
</div>
