
@{
    ViewData["Title"] = "RegisteredOrFailedToRegisterViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oops! That was wrong!</h1>
<h2>Click <a asp-controller="Home" asp-action="LoginUser">here</a> to try again.</h2>

